@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@600;700&family=Inter:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter";
}

button {
  cursor: pointer;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 80px;
}

h1 {
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
}

.todo__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 40px;
  margin-bottom: 80px;
}

.item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
  box-shadow: 0px 0px 9.35556px #E6E6E6;
  border-radius: 12px;
}

.item h2 {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 10px;
}

.completed {
  text-decoration: line-through;
}

.item span {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  padding: 4px 8px;
  border-radius: 5px;
}

.high {
  background: #FCEEF5;
  color: #571032;
}

.medium {
  background: #EEF3FC;
  color: #103D57;
}

.low {
  background: #EFFCEE;
  color: #14A35E;
}

.add__btn {
  margin: 0 auto;
  display: flex;
  border: none;
  background: #E53170;
  padding: 20px;
  border-radius: 50%;
}

.item__actions {
  display: flex;
  align-items: center;
  gap: 15px;
}

.item__actions p {
  background: #E5F2FF;
  font-family: "Exo 2";
  border-radius: 10px;
  padding: 0 4px;
  color: gray;
}

.item__actions button {
  border: none;
  background: rgba(0, 0, 0, 0);
}

.edit {
  display: flex;
  gap: 10px;
}

.edit button {
  display: flex;
  align-items: center;
  padding: 7px;
  border-radius: 10px;
  color: #fff;
}

.edit button:nth-child(1) {
  background: #14A35E;
}

.edit button:nth-child(2) {
  background: gray;
}

.popup__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup__container {
  width: 375px;
  background: #fff;
  padding: 0 20px;
  box-shadow: 0px 0px 9.35556px #E6E6E6;
  border-radius: 12px;
}

.popup__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #E5F2FF;
  padding: 12px 0;
}

.popup__top button {
  border: none;
  background: rgba(0, 0, 0, 0);
}

.popup__form {
  display: flex;
  flex-direction: column;
  padding-bottom: 36px;
}

.popup__form input {
  font-family: 'Exo 2';
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  padding: 22px 16px;
  border: 1px solid #E5F2FF;
  border-radius: 6px;
}

.popup__form input::placeholder {
  color: #7A93B8;
}

.popup__form select {
  margin-top: 5px;
  padding: 22px 16px;
  border: 1px solid #E5F2FF;
  border-radius: 6px;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
}

.popup__form select option {
  color: #000;
}

.popup__form select option[value=""][disabled] {
  display: none;
}

.popup__form select:required:invalid {
  color: #7A93B8;
}

.popup__form button {
  margin-top: 20px;
  background: #E53170;
  border: none;
  color: #fff;
  font-family: 'Exo 2';
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  border-radius: 8px;
  padding: 14px 0;
}